* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #131221;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  height: 450px;
  width: 350px;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  height: 550px;
  width: 550px;
  background: conic-gradient(transparent,transparent,transparent,#fff);
}

.container.active::before{
    animation: anim 4s linear infinite;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.overlay{
    position: absolute;
    height: 440px;
    width: 340px;
    border-radius: 12px;
    background: #131221;
}